body {
    min-height: calc(100vh - 100px);
    margin: 0;
    background-color:  
    #fc466b;
    background-position: 95% 90%;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    color: white;
  }